<!-- テンプレートの継承先 -->
{% extends 'searchapp/base.html' %}
<!-- オーバーライド対象：content=子テンプレートのブロック名 -->
{% block content %}
<!--{% load staticfiles %}
{% load bootstrap4 %}-->
<!DOCTYPE html>
<body class=" login" data-admin-utc-offset="32400">
<div id="container">
  <div class="inner">
    <div id="header" class="mysystem-header">
              テスト！ユーザ認証システム
    </div>
    <div id="content" class="colM">
      <div id="content-main">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group row px-3">
          <button type="submit" name="button1" class="btn col-md-1">ログイン</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>  <!-- content-main -->
      <br class="clear" />
    </div>  <!-- content -->
  </div>  <!-- inner -->
</div>  <!-- END Container -->
</body>
{% endblock %}