<!-- テンプレートの継承先 -->
<!-- {% extends 'base.html' %} -->
<!-- オーバーライド対象：content=子テンプレートのブロック名 -->
{% block header %}
{% load bootstrap4 %}

<header class="site-header">
    {% if user.is_authenticated %}
        <div class="userlavel">ようこそ {{ user.get_username }}様</div>
        <div class="loginoutlink">
            <a href="{% url 'accounts:logout' %}?next={{ request.path }}">ログアウト</a>
        </div>
    {% else %}
        <div class="userlavel">ようこそ ゲスト様</div>
        <div class="loginoutlink">
            <a href="{% url 'accounts:login' %}?next={{ request.path }}">ログイン</a>
        </div>
    {% endif %}
</header>
{% endblock %}