<!-- テンプレートの継承先 -->
{% extends 'base.html' %}

{% block title %}商品検索{% endblock %}

{% block header %}
    {% include 'accounts/authheader.html' %}
{% endblock %}

{% block msg %}
    {% include 'accounts/logoutmsg.html' %}
{% endblock %}

<!-- オーバーライド対象：content=子テンプレートのブロック名 -->
{% block body %}
<form method="post">
<!-- セキュリティ対策 -->
{% csrf_token %}
<div style="display:inline-flex" class="mar">
    <!-- search_value＝カテゴリプルダウンフォームとフリーワードフォームを格納した変数 -->
      {% for search_form in search_value %}
     {{ search_form }}
     {% endfor %}
     <!--  <button type="submit" name="button1" class="btn col-md-1">&#x1F50D;</button>-->
     <button type="submit" name="button1" class="btn btn-success col-md-1">&#x1F50D;</button>
</div>
</form>
{% endblock %}