{% extends 'searchapp/base.html' %}
<!-- オーバーライド対象：content=子テンプレートのブロック名 -->

<!-- テンプレートの継承先 -->
{% block content %}

    	<!-- セキュリティ対策 -->

        <!-- 入力フォームの表示 -->
        <!-- test_formの配列数分繰り返す -->

        {% for field in srh_form %}
        <form action="{% url 'searchapp:result' field  %}" method="POST">
        {% csrf_token %}
            <div class="form-group form-inline">
            	<!-- field内（formクラス）のlabelで紐づけられたもの -->
                <label class="col-md-offset-2 col-md-3 control-label">{{ field.label }}:</label>
                <div class="col-md-8">
                	<!-- field変数を表示 -->
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <input class="btn btn-success offset-md-8 col-md-3" type="submit" id="button" name="srh_button" value="検索">
    </form>
<table class="table table-hover table-bordered">
                <tr>
                    <th>商品名</th>
                    <th>カテゴリー</th>
                    <th>価格</th>
                </tr>
                <tbody>
                <!-- object_listの配列数分繰り返す -->
                {% for post in object_list %}
                    <tr>
                        <!-- post内（formクラス）のtitle,priceで紐づけられたもの -->
                        <td width="40%">{{ post.title }}</td>
                        <td width="40%">{{ post.category }}</td>
                        <td width="20%">{{ post.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>

{% endblock %}