@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

/*html全体の高さ表示設定*/
html{
    height: 100%;
}

/*全体設定*/
body {
    font-family: "CicaTest"; /*フォントデザイン設定*/
    font-size: medium; /*フォントのサイズ設定*/
    background: linear-gradient(45deg, rgba(255, 0, 161, .4), rgba(246, 255, 0, .4)), /*グラデーション設定*/
    url("/static/base/images/bg.jpg"); /*背景画像をpath指定*/
    background-size: cover; /*背景範囲をすべて覆う*/
    background-attachment:fixed; /*背景画像を固定*/
}


/*見出し１の下側余白設定*/
h1 {
    margin-bottom: 5px;
}

div.topBG {
  width: 100vw;
  height: 100vh;
  background-position:center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Topのロゴの場所設定*/
div.toplogo{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
