@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

/*全体設定*/
body {
    font-family: "CicaTest";
    font-size: medium;
    width: 100%;
    background: linear-gradient(-45deg, rgba(246, 255, 0, .4), rgba(255, 0, 161, .4)),
    url("/static/base/images/bg.jpg");
    background-size: cover;
}

/*html全体の表示設定*/
html{
	height: 100%;
}

/*見出し１の下側余白設定*/
h1 {
    margin-bottom: 5px;
}